[submodule "PyDynamic"]
	path = PyDynamic
	url = https://github.com/eichstaedtPTB/PyDynamic.git
[submodule "PySensorNetwork"]
	path = PySensorNetwork
	url = https://github.com/Met4FoF/PySensorNetwork.git
